/* Reset */
body,img,p,h1,h2,h3,h4,h5,h6,ul,ol {margin:0; padding:0; list-style:none; border:none;}
/* End Reset */

body {
	font: 13px arial,sans-serif;
	background: #fff;
}
a {text-decoration: none}

/* Colors */
.color-yellow {background:#f2bc00;}
.color-red    {background:#dd0000;}
.color-blue   {background:#148ea4;}
/*.color-white  {background:#dfdfdf;}*/
.color-orange {background:#f66e00;}
.color-green  {background:#8dc100;}
.color-yellow h3,
.color-white h3,
.color-green h3
{color:#000;}
.color-red h3,
.color-blue h3,
.color-orange h3
{color:#000;}
/* End Colors */



#head .add {
    color: #000;
    text-align: center;
    cursor:pointer;
}
/* End Head Section */

/* Columns section */
#columns .column {
    float: left;
    width: 33.3%;
	/* Min-height: */
	min-height: 400px;
	height: auto !important; 
	height: 400px;
}

/* Column dividers (background-images) : */




#columns .widget {margin: 30px 10px 0 10px;padding: 1px;}

#columns .widget .widget-head {
	background-color: #f5f5f5;
	border-bottom: 1px solid #dcdcdc;
	color: #222;
	font-size: 13px;
	font-weight: bold;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	padding: 0;
}
#columns .widget .widget-head h3 {
    padding: 0 5px;
    float: left;
	font-size: 13px;
}
#columns .widget .widget-content {
    padding: 7px;
    color: #333;

    line-height: 1.2em;
    overflow: hidden;
}
#columns .widget .widget-content p {
    padding: 2px 0;
}
#columns .widget .widget-content img {

}
#columns .widget .widget-content pre {
    padding: 0.5em 5px;
    color: #EEE;
    font-size: 12px;
}
#columns .widget .widget-content ul {
    padding: 5px 0 5px 20px;
    list-style: disc;
}
#columns .widget .widget-content ul li {padding: 3px 0;}
#columns .widget .widget-content ul.images {
    padding: 7px 0 0 0;
    list-style: none;
    height: 1%;
}
#columns .widget .widget-content ul.images li {
    display: inline;
    float: left;
}
#columns .widget .widget-content ul.images img {
    display: inline;
    float: left;
    margin: 0 0 7px 7px;
}
/* End Columns section */

#search{
	width:100%;
	height:60px;
	/*line-height: 80px;*/
	background-color:#F2F2F2;
	border-bottom: 1px solid #DFDFDF;
}
#gbqfq{
	width:510px;
	height:27px;
}

.widget{
	border:1px solid #ddd;
}
.mhover{
	border-color: #c6c6c6;
	/*-moz-box-shadow: 0px 0px 3px #666;*/
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
	/*box-shadow: 0px 0px 3px #666;*/
}
.clear{
    clear: both;
}

#footer_wrap{
    margin-top: 40px;
    border-top: 1px solid #ccc;
    padding: 20px 44px;
}

#footer_content{
    text-align: center;
    width: 100%;
}
.gbqfif, .gbqfsf {
    color: #222;
    font: 16px arial,sans-serif;
}
/* Override jquery.css*/
/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
    border-top-left-radius: 0px;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
    border-top-right-radius: 0px;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
    border-bottom-left-radius: 0px;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
    border-bottom-right-radius: 0px;
}
.ui-state-hover{
    border: none !important;
    background: rgb(234, 234, 234) !important;
    font-weight: normal;
    color: #212121;
}

#logo{
	margin-top:10px;
	margin-left: 10px;
}