.RSSDisplay {
	overflow:hidden;
	width:100%;
	margin:0;
	padding:4px 0 0;
}

.RssReverseDirectionality .RSSEntries {
	direction:rtl;
	text-align:right;
}

.RSSDisplay a {
	color:#00c;
}

.RSSDisplay a:visited {
	color:#551a8b;
}

.RssEntry {
	max-width:98%;
	width:98%;
	margin:0 2px;
	padding:3px 0 2px;
}

.RssEntry img {
	padding:1px;
}

.RssEntryOuterContent {
	color:#222;
	margin-top:2px;
}

.RssSlideshow,.RssSlideshowCompact {
	overflow:hidden;
}

.RssSlideshow {
	max-width:100%;
	width:254px;
}

.RssSlideshowCompact {
	max-width:254px;
}

.RssSlideshowTable {
	margin-bottom:2px;
	width:100%;
}

.RssSlideshowArrowsTd {
	width:1em;
}

.RSSDisplay a.RssSlideshowArrows {
	color:#6b90da;
	font-size:4em;
	font-weight:700;
	text-decoration:none;
}

.RSSDisplay a.RssSlideshowArrows:visited {
	color:#6b90da;
}

.RssSlideshowHeadline {
	display:block;
	height:2.1em;
	text-align:center;
	overflow:hidden;
}

.RssSlideshowTr {
	line-height:1em;
}

.RssImage,.RssImageLoading {
	max-width:100%;
}

.RssImageLoading {
	visibility:hidden;
}

.MoreStories {
	display:none;
	margin-top:5px;
	text-align:right;
	width:100%;
}

.RssSlideshow .MoreStories,.RssSlideshowCompact .MoreStories {
	margin-top:5px;
}

.MoreStories a,.MoreStories a:visited {
	color:#77c;
}

.LeadStoryImgOuterDiv {
	float:right;
}

.RssReverseDirectionality .LeadStoryImgOuterDiv {
	float:left;
}

.LeadStoryImgInnerDiv {
	display:none;
	margin-left:9px;
	margin-bottom:9px;
}

.RssReverseDirectionality .LeadStoryImgInnerDiv {
	margin-right:9px;
}

.RssHeadlinePreview,.RssSummary {
	color:#4d4d4d;
	padding-left:18px;
	padding-right:4px;
}

.RssReverseDirectionality .RssHeadlinePreview,.RssReverseDirectionality .RssSummary {
	padding-right:18px;
	padding-left:4px;
}

.RssSummary {
	max-height:448px;
	overflow:auto;
	display:none;
}

.RssPlusbox {
	left:0;
	float:left;
	vertical-align:top;
}

.RssReverseDirectionality .RssPlusbox {
	right:0;
	float:right;
}

.RssPlusbox a,.RssPlusbox a:visited {
	background-image:url(/img/zippy-sprite.cache.png);
	background-repeat:no-repeat;
}

.RssPlusbox a,.RssPlusbox a:visited {
	display:block;
	float:none;
	height:12px;
	margin-top:2px;
	margin-left:0;
	overflow:hidden;
	width:12px;
	padding:0;
}

.RssReverseDirectionality .RssPlusbox a,.RssReverseDirectionality .RssPlusbox a:visited {
	margin-right:0;
}

.RssPlusbox a.fmaxbox {
	background-position:7px 3px;
}

.RssPlusbox a.fminbox {
	background-position:-5px 5px;
}

.RSSDisplay .RssSlideshowArrowsTd a.RssArrowDisabled,.RSSDisplay .RssSlideshowArrowsTd a.RssArrowDisabled:visited {
	color:#ccc;
}

.RssPlusOne {
	display:inline!important;
	overflow:hidden;
}

.RSSEntries,.RssReverseDirectionality .MoreStories {
	text-align:left;
}

.RssEntry a:link,.RssSlideshow a:link {
	color:#15c;
}

.RssEntry a:visited,.RssSlideshow a:visited {
	color:#61c;
}

.RssEntry a:active,.RssSlideshow a:active {
	color:#d14836;
}

.RssSlideshowNoArticleImage,.RssSlideshowChangeSettings {
	color:#222;
	margin-top:50px;
}

input[type=image]{
    margin-bottom: -10px;
    padding: 0;
}